* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

.card {
    width: 150px;
    height: 150px;
    background-color: grey;
    border: 1px solid black;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

button {
    display: block;
    margin: 20px auto;
    width: 150px;
    height: 100px;
    font-size: 25px;
    background-color: mintcream;
}